{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{head}} Headlines</h1>
            <form>
                <input type="text" name="publication" placeholder="Search" />
                <input type="submit" value="submit" />
        </form>
        </div>
            {% for article in articles %}
            <b><a href="{{article.get("link")}}">{{article.get("title")}}</a></b> <br />
            <i> {{article.get("published")}}</i>
            <p> {{article.get("summary")}}</p><hr />
            {% endfor %}
    </div>

{% endblock %}